<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <div id="app">
      <h1>{{titulo}}</h1>
      <label for="">Nome</label> <br/>
      <input type="text" v-model="nome">

      <br/>
      <label for="">Telefone</label><br/>
      <input type="text" v-model="telefone">

      <br/>
      <label for="">Deseja receber novidades?</label><br/>
      <input type="radio" value="sim" v-model="novidades"> Sim
      <input type="radio" value="nao" v-model="novidades"> Não

      <br/>
      <label for="">Interesses</label><br/>
      <input type="checkbox" value="futebol" v-model="interesses"> Futebol <br/>
      <input type="checkbox" value="formula1" v-model="interesses"> Formula 1 <br/>
      <input type="checkbox" value="basketball" v-model="interesses"> Basketball <br/>

      <br/>
      <label for="">Como nos conheceu?</label><br/>
      <select v-model="conheceu">
          <option value="">Escolha</option>
          <option value="google">Google</option>
          <option value="tb">TV</option>
          <option value="revista">Revista</option>
      </select>

      <br/>

      <button>Enviar</button>


      <hr>

      Nome: {{ nome }} <br/>
      Telefone: {{ telefone }} <br/>
      Novidades: {{ novidades }} <br/>
      Interesses: {{ interesses }} <br/>
      Como nos conheceu?: {{ conheceu }} <br/>
  </div>
  
  <script src="https://unpkg.com/vue"></script>

  <script>
    var app = new Vue({
      el: "#app",
      data: {
        titulo: "Aula 01 - Vuejs do jeito ninja.",
        nome: "",
        telefone: "",
        novidades: "",
        interesses: [],
        conheceu: "",
      } 
    });
  </script>
</body>
</html>